h1,
h3 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
div {
  margin-bottom: 50px;
  padding: 20px;
}
.part-1 {
  background-color: lightgreen;
  border: 5px solid green;
  border-radius: 10px;
}
.part-2 {
  background-color: yellowgreen;
  border: 5px solid rgb(85, 120, 16);
  border-radius: 10px;
}
.part-3 {
  background-color: lightcoral;
  border: 5px solid rgb(180, 56, 56);
  border-radius: 10px;
}
